In [32]:
import geopandas as gpd
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
from geopy.geocoders import Nominatim
import gc
import glob
import geopandas as gpd
import psycopg2
from psycopg2 import sql
from shapely.geometry import LineString, MultiLineString
from shapely import wkb

In [ ]:
font_list = fm.findSystemFonts(fontpaths=None, fontext='ttf')
[mpl.font_manager.FontProperties(fname=font).get_name() for font in font_list if 'Yu' in font]

In [45]:
def geocoding_reverse(lat_lng_str): 
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    address = geolocoder.reverse(lat_lng_str)

    return address
    
address = geocoding_reverse('37.524601, 126.923727')
print(address)

address = geocoding_reverse('36.5760732781656, 128.15935928504484')
print(address)

KTB빌딩, 업무지역 보행자거리, 여의도동, 여의동, 영등포구, 서울, 07326, 대한민국
교촌리, 상주시, 경상북도, 37107, 대한민국

In [33]:
plt.rcParams['font.family'] = 'Yu Gothic'

In [76]:
geo = gpd.read_file("C:/Users/aid/workspace/private/geo-test/emd_20230729/emd.shp", encoding='euc-kr')

In [77]:
geo

,EMD_CD,EMD_ENG_NM,EMD_KOR_NM,geometry
0,11110101,Cheongun-dong,청운동,"POLYGON ((953700.022 1954605.065, 953693.871 1..."
1,11110102,Singyo-dong,신교동,"POLYGON ((953233.465 1953996.984, 953235.183 1..."
2,11110103,Gungjeong-dong,궁정동,"POLYGON ((953560.228 1954257.466, 953561.190 1..."
3,11110104,Hyoja-dong,효자동,"POLYGON ((953519.843 1953890.785, 953518.489 1..."
4,11110105,Changseong-dong,창성동,"POLYGON ((953516.123 1953734.362, 953516.526 1..."
...,...,...,...,...
5060,51830310,Seo-myeon,서면,"POLYGON ((1079287.552 2011045.570, 1079356.150..."
5061,51830320,Sonyang-myeon,손양면,"MULTIPOLYGON (((1102997.769 2009910.288, 11029..."
5062,51830330,Hyeonbuk-myeon,현북면,"MULTIPOLYGON (((1108475.024 2002913.557, 11084..."
5063,51830340,Hyeonnam-myeon,현남면,"MULTIPOLYGON (((1114466.017 1992227.421, 11145..."
5064,51830350,Ganghyeon-myeon,강현면,"MULTIPOLYGON (((1099133.051 2014106.791, 10991..."

In [1]:
n = int(input())
moves = input().split()

 5
 L R U U

In [2]:
n

5

In [3]:
moves

['L', 'R', 'U', 'U']

In [16]:
# 처음 위치
x, y = 1, 1

In [19]:
# 상하좌우 이동
dx = [0, 0, -1, 1]
dy = [-1, 1, 0, 0]
move_types = ['L', 'R', 'U', 'D']

In [20]:
# 이동 계획을 하나씩 확인하기
for move in moves:
    # 이동 후 좌�� 구하기
    for i in range(len(move_types)):
        if move == move_types[i]:
            nx = x + dx[i]
            ny = y + dy[i]
    # 공간을 벗어나는 경우 무시
    if nx < 1 or ny < 1 or nx > n or ny > n:
        continue
    # 이동 수행
    x, y = nx, ny

print(x, y)

1 2

In [25]:
n = int(input())

count = 0
for hour in range(n + 1):
    for minute in range(60):
        for second in range(60):
            if '3' in str(hour) + str(minute) + str(second):
                count += 1

print(count)

 11

20925

In [23]:
N = int(input())
count = 0
for i in range(N+1):
    for j in range(60):
        for k in range(60):
            if '3' in str(i)+str(j)+ str(k):
                count += 1
print(count)

 11

20925

In [26]:
def fib_dp(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1

    fib_array = [0, 1]

    for i in range(2, n+1):
        num = fib_array[i-1] + fib_array[i-2]
        fib_array.append(num)
    return fib_array[n]

In [27]:
%%timeit
fib_dp(10)

863 ns ± 17.1 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [29]:
for i in range(2, 11):
        print(i)

2
3
4
5
6
7
8
9
10

In [30]:
fib_dp(10)

55

In [5]:
test = ['여의대로', '여의도동', '여의동', '영등포구', '서울', '07326', '대한민국']
test.reverse()
test

['대한민국', '07326', '서울', '영등포구', '여의동', '여의도동', '여의대로']

In [19]:
try:
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    address_location = geolocoder.reverse('{0} {1}'.format(37.50895966803926,	126.88050355781739))
    print('address_location ', address_location)
    address = address_location[0].split(', ')
    address.reverse()
    print('구 ', address[3])
    print('동 ', address[4])
    if address[5].endswith('동'):
        print('나머지 ', ' '.join(address[6:]))
        str = '{0} {1} '.format(address[3], address[4]) + ' '.join(address[6:])
        print('전체 ', str)
    else:
        print('나머지 ', ' '.join(address[5:]))
        str = ' '.join(address[3:])
        print('전체 ', str)

except:
    print("geolocoder exception occurred")

address_location  신도림 성락교회, 신도림로, 신도림동, 구로구, 서울, 08201, 대한민국
구  구로구
동  신도림동
나머지  신도림로 신도림 성락교회
전체  구로구 신도림동 신도림로 신도림 성락교회

In [20]:
var = """
hello {0}
""".format('world')
var

'\nhello world\n'